<%= form_for @reserve do |f| %>

    <% if @reserve.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <h2>
            <%= pluralize(@reserve.errors.count, "error") %> prohibited
            this reserve from being saved:
          </h2>
          <ul>
            <% @reserve.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :owner_last_name %><br>
      <%= f.text_field :owner_last_name %>
    </p>

    <p>
      <%= f.label :owner_first_name %><br>
      <%= f.text_field :owner_first_name %>
    </p>

    <p>
      <%= f.label :pet_name %><br>
      <%= f.text_field :pet_name %>
    </p>

    <p>
      <%= f.label :notes %><br>
      <%= f.text_area :notes %>
    </p>

    <p>
      <%= f.submit %>
    </p>

<% end %>