<%= form_for @reserve do |f| %>

    <% if @reserve.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <h2>
            <%= pluralize(@reserve.errors.count, "error") %> prohibited
            this reserve from being saved:
          </h2>
          <ul>
            <% @reserve.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
      <%= f.label :start_date%><br>
      <%= date_select :start_date, :startdate , :class => 'datepicker' %>
    </p>
    <p>
      <%= f.label :end_date%><br>
      <%= date_select :end_date, :enddate , :class => 'datepicker' %>
    </p>
    <%= f.text_field :start_date %>
    <%= f.text_field :end_date %>
    <p>
      <%= f.label :room_type%><br>
      <%= f.select :room_type, ['Standard', 'Standard+']%>
    </p>

    <p>
      <%= f.label :cell%><br>
      <%= f.select :cell, ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']%>
    </p>

    <p>
      <%= f.label :owner_last_name %><br>
      <%= f.text_field :owner_last_name %>
    </p>

    <p>
      <%= f.label :owner_first_name %><br>
      <%= f.text_field :owner_first_name %>
    </p>

    <p>
      <%= f.label :patronymic %><br>
      <%= f.text_field :patronymic %>
    </p>

    <p>
      <%= f.label :pet_name %><br>
      <%= f.text_field :pet_name %>
    </p>

    <p>
      <%= f.label :notes %><br>
      <%= f.text_area :notes %>
    </p>

    <p>
      <%= f.submit %>
    </p>

<% end %>