<h1><%= @article.title %></h1>
<div class="panel panel-default">

  <%= button_to 'Edit', edit_article_path(@article), :style => "float: right; margin: 10px", :method => :get %>
  <br/>
  <!-- Default panel contents -->
  <div class="panel-body">
    <p style="text-align: justify"><%= @article.text %></p>
  </div>
</div>
<div class="panel-heading"><h2>Comments</h2></div>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<br/>
<%= button_to 'Back', articles_path, :method => :get %>
