<table>
  <tr>
    <th>Owner Last Name</th>
    <th>Owner First Name</th>
    <th>Pet Name</th>
    <th colspan="4"></th>
  </tr>

  <% @user.each do |user| %>
      <tr>
        <td><%= user.owner_last_name %></td>
        <td><%= user.owner_first_name  %></td>
        <td><%= user.pet_name  %></td>
        <td><%= link_to 'Show', users_path(user) %></td>
        <td><%= link_to 'Edit', edit_users_path(user) %></td>
        <td><%= link_to 'Destroy', users_path(user),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>