<!DOCTYPE html>
<html>
<head>
  <title>Cats Dormitory</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'share', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <a class="navbar-brand" href="/welcome/index"><%= image_tag("logo.jpg", :width => 32, :height => 32, :crop => :fill) %></a>
      <a class="navbar-brand" href="/welcome/index">Cats Dormitory</a>
      <ul class="nav nav-pills navbar-right">
        <li><%= link_to 'Home', controller: 'welcome'%></li>
        <li><%= link_to 'Reserve', controller: 'reserves'%></li>
        <li><%= link_to 'Blog', controller: 'articles'%></li>
      </ul>
    </div>
  </nav>
</header>

<body>
  <div class="container">
    <div class="jumbotron"><%= yield %></div>
  </div>
</body>
<footer>
  <nav class="navbar navbar-default navbar-static-bottom">
    <div class="container">
      <div class="navbar-left">
        <h3>Site Map</h3>
        <ul>
          <li><%= link_to 'Home', controller: 'welcome'%></li>
          <li><%= link_to 'Reserve', controller: 'reserves'%></li>
          <li><%= link_to 'Blog', controller: 'articles'%></li>
        </ul>
        <p>&copy;Cat Paw's Development</p>
      </div>

      <div class="navbar-right">
        <span>Share links: </span>

        <a onclick="Share.vkontakte('URL','TITLE','IMG_PATH','DESC')" class="navbar-link">
          <%= image_tag("vk_icon.png", :width => 32, :height => 32, :crop => :fill)%>
        </a>

        <a onclick="Share.odnoklassniki('URL','DESC')">
          <%= image_tag("ok_icon.png", :width => 32, :height => 32, :crop => :fill) %>
        </a>

        <a onclick="Share.facebook('URL','TITLE','IMG_PATH','DESC')">
          <%= image_tag("facebook_icon.png", :width => 32, :height => 32, :crop => :fill) %>
        </a>

        <a onclick="Share.twitter('URL','TITLE')">
          <%= image_tag("twitter_icon.jpg", :width => 32, :height => 32, :crop => :fill) %>
        </a>

      </div>
    </div>
  </nav>
</footer>
</html>
